.navbar {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h3 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #3498db;
}

.logout-button {
  background-color: #e74c3c; /* Rouge pour le bouton de déconnexion */
  color: #ffffff; /* Texte en blanc */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.logout-button:hover {
  background-color: #c0392b; /* Un rouge un peu plus foncé au survol */
}
