.sidebar {
  background-color: #34495e;
  color: #ecf0f1;
  width: 200px;
  padding: 20px;
  /* On enlève la position fixe */
  height: 100%;
  /* On ajoute une transition pour une fluidité */
  transition: transform 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  color: #1abc9c;
}
